* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
}

#taskList {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	font-size: 20px;
	width: 370px;
}

#addTask {
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #1112;
	width: 300px;
	height: 40px;
	padding-left: 5px;
}

#addTask:focus-visible {
	outline: none;
}

.container {
	margin-top: 40px;
	display: flex;
	align-items: center;
}

#cleanToDo {
	cursor: pointer;
	width: 50px;
	height: 43px;
	margin-left: 5px;
	border: 2px solid #1112;
	border-radius: 10px;
}

#cleanToDo:active {
	background: #1111;
}

.task {
	border: 2px solid #1112;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}