@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
	background: linear-gradient(90deg, #64508D, #ffD0C8);
	background-size: 200%;
}

#root {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
	padding: 40px;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#taskList {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	font-size: 20px;
	width: 100%;
}

#addTask {
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
	border: rgba(255, 255, 255, 0);
	height: 40px;
	background: rgba(255, 255, 255, 0.2);
	padding-left: 5px;
	width: 100%;
	outline: none;
}

#addTask:focus-visible {
	outline: none;
}

#addTask::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.container {
	width: 100%;
	margin-top: 40px;
	display: flex;
	align-items: center;
}

#cleanToDo {
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	width: 50px;
	font-weight: 500;
	height: 40px;
	margin-left: 5px;
	border: rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

#cleanToDo:active {
	background: #1111;
}

.task {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

.wrapper {
	width: 235px;
	color: rgba(255, 255, 255, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 30px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.2);
}